body {
	background-color: #e6e6e6;
}

div.header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: calc(100% - 20px);
	height: 30px;
	padding: 10px 10px 10px 10px;
	background-color: whitesmoke;
}

div.header > span.headerTitleLeft {
	color: teal;
	font: bold 30px sans-serif;
	flex-grow: 2;
}

div.header > span.headerTitleRight {
	color: black;
	font: bold 30px sans-serif;
	flex-grow: 1;
}

div.body {
	position: absolute;
	top: 50px;
	left: 0px;
	width: calc(100% - 20px);
	margin: 10px 10px 10px 10px;
}

div.bodyFlex {
	display: flex;
	flex-direction: column;
}

div.metroAreaCard {
	display: inline-block;
	width: 275px;
	height: 302.5px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: white;
}

div.metroAreaCardTitle {
	position: relative;
	top: 10px;
	text-align: center;
	text-decoration: none;
	font: bold 20px sans-serif;
	color: gray;
}

div.metroAreaCardInner {
	position: relative;
	width: 250px;
	height: 250px;
	top: 17.5px;
	left: 12.5px;
	background-size: 100% 100%;
}

div:hover.metroAreaCardInner {
	opacity: 0.5;
}

a.metroAreaLink {
	display: block;
	width: 100%;
	height: 100%;
}

div.pageTitle, div.columnTitle {
	background-color: white;
	text-align: center;
	vertical-align: middle;
	flex-grow: 2;
}

div.pageTitle > h1 {
	color: teal;
	font: bold 24px sans-serif;
}

div.columnTitle > h2 {
	color: black;
	font: bold 20px sans-serif;
}

div.columnContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 1;
}

div.column {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 0px;
}

div.leftColumn {
	margin-right: 5px;
}

div.centerColumn {
	margin-left: 5px;
	margin-right: 5px;
}

div.rightColumn {
	margin-left: 5px;
}

div.columnCard {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 1;
	background-color: white;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
	font: 16px sans-serif;
}

div.cardDetailLeft {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 0px;
}

div.cardDetailRight {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	text-align: right;
	width: 0px;
}

div.cardDetailRow {
	flex-grow: 1;
}

div.cardDetailRowCentered {
	flex-grow: 1;
	text-align: center;
}

span.businessName {
	font-weight: bold;
}

div.failState > h2 {
	color: red;
	font: bold 20px sans-serif;
}

form {
	width: 350px;
	margin: auto;
	text-align: center;
}

input, select, textarea {
	border-radius: 5px;
	width: 100%;
	padding: 12px 20px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	margin-bottom: 10px;
}

input[type=submit] {
	background-color: teal;
	color: white;
	border: none;
	cursor: pointer;
	font-weight: bold;
}

button {
	background-color: teal;
	color: white;
	padding: 14px 20px;
	margin: 8px 0px;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
}

span.error {
	color: red;
	font: bold 14px sans-serif;
}