body {
	background-color: #e6e6e6;
}

div.header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 30px;
	padding: 10px 10px 10px 10px;
	background-color: whitesmoke;
}

div.header > span.headerTitleLeft {
	color: teal;
	font: bold 30px sans-serif;
}

div.header > span.headerTitleRight {
	color: black;
	font: bold 30px sans-serif;
}

div.body {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	padding: 10px 10px 10px 10px;
}

div.metroAreaCard {
	display: inline-block;
	width: 275px;
	height: 302.5px;
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: white;
}

div.metroAreaCardTitle {
	position: relative;
	top: 10px;
	text-align: center;
	text-decoration: none;
	font: bold 20px sans-serif;
	color: gray;
}

div.metroAreaCardInner {
	position: relative;
	width: 250px;
	height: 250px;
	top: 17.5px;
	left: 12.5px;
	background-size: 100% 100%;
}

div:hover.metroAreaCardInner {
	opacity: 0.5;
}

a.metroAreaLink {
	display: block;
	width: 100%;
	height: 100%;
}