form{
    border: 3px solid white;
    width: 500px;
    margin: auto;
}

input{
    border-radius: 5px;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    border-radius: 5px;
}
h1{
    font-size: 150%;
    color: red;
    font-weight: bold;
    text-align: center;
}
footer {
    position: fixed;
    left: 0;
    bottom: 18px;
    width: 100%;
    text-align: center;
}

